#g-ai2html-responsive-box ,
	#g-ai2html-responsive-box .g-artboard {
		margin:0 auto;
	}
	#g-ai2html-responsive-box p {
		margin:0;
	}
	#g-ai2html-responsive-box .g-aiAbs {
		position:absolute;
	}
	#g-ai2html-responsive-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-ai2html-responsive-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-ai2html-responsive-box .g-aiPointText p { white-space: nowrap; }
	#g-ai2html-responsive-_480 {
		position:relative;
		overflow:hidden;
	}
	#g-ai2html-responsive-_700 {
		position:relative;
		overflow:hidden;
	}
	#g-ai2html-responsive-_960 {
		position:relative;
		overflow:hidden;
	}